<template>
  Browse among existing annotation, click to see linked dataset items
  <table >
    <tr  class="w3-hover-green" repeat.for="an of annotations">
      <td click.trigger="selectAnno(an)">${an.id}</td>
      <td click.trigger="selectAnno(an)">${an.name}</td>
      <td click.trigger="selectAnno(an)">${an.type}</td>
    </tr>
  </table>
</template>
